#education {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4vh 5vw;
}

.edu-title {
  display: flex;
  justify-content: center;
}

.edu-title > h1 {
  align-self: center;
  border: 2px solid var(--color-li-underline);
  font-size: 2em;
  font-weight: 600;
  padding: 8px 15px;
}

.edu-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding-top: 2.5%;
  width: 85%;
}

.edu-details-left {
  min-width: 25%;
  max-width: 25%;
  border-right: 3px solid var(--color-li-underline);
}

.edu-details {
  display: flex;
  flex-direction: row;
  margin: 12px 0;
  padding: 20px 30px;
}

.exp-details-left {
  padding-right: 5px;
}

.edu-details-left > h5 {
  font-size: 0.75em;
  font-weight: 100;
  margin: 5px 0 15px 0px;
  text-transform: uppercase;
}

.edu-details-left > h5::before {
  content: '......... ';
  color: transparent;
  width: 20px;
  height: 20px;
  background-image: url('../../../../public/images/calendar.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.edu-details-left > h6 {
  font-size: 0.8em;
  font-style: italic;
}

.edu-details-left > h6::before {
  content: '....... ';
  color: transparent;
  width: 20px;
  height: 20px;
  background-image: url('../../../../public/images/location.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.edu-details-right {
  padding-left: 35px;
}

.edu-details-right > h4 {
  border-bottom: 2px dotted var(--color-li-underline);
  display: inline;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.edu-details-right > a {
  text-decoration: none;
}

.edu-details-right > a > h5 {
  color: grey;
  font-weight: 500;
  margin: 11px 0 15px 0;
  text-transform: uppercase;
}

.edu-details-right > p {
  line-height: 1.5em;
  margin-bottom: 0.3em;
}
