#skills {
  background: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
}

.skills-all {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 10px 45px 10px;
}

.skills-all > h1 {
  align-self: center;
  border: 2px solid var(--color-li-underline);
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 2%;
  padding: 10px 15px;
  text-align: center;
}

.skills-details {
  display: grid;
  grid-template-columns: 13em 13em 13em 13em;
  justify-content: space-evenly;
  padding: 2% 0;
}

.skill-separator {
  display: flex;
  flex-direction: column;
}

.skill-separator > h4 {
  align-self: flex-start;
  border-top: 2px solid var(--color-li-underline);
  border-bottom: 2px solid var(--color-li-underline);
  display: inline-block;
  letter-spacing: 0.4rem;
  padding: 7px 0;
  text-transform: uppercase;
}

.skill-separator > h5 {
  font-weight: lighter;
  text-transform: capitalize;
}

.skill-item {
  font-variant: small-caps;
  padding-bottom: 2px;
}

.skill-item > h5 {
  margin-bottom: 0;
  padding-left: 3px;
}

.skill-item:first-of-type {
  padding-top: 20px;
}

.skill-item-bar {
  background: black;
  border-radius: 20px;
  height: 8px;
  width: 100%;
}

progress[value] {
  /* Get rid of the default appearance */
  appearance: none;
  /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
  border: none;
  /* Add dimensions */
  height: 8px;
  width: 100%;
  /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(158, 72, 72, 0.5) inset;
  /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
  color: cornflowerblue;
  position: relative;
}

progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border: 0.5px solid grey;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
}

progress[value]::-webkit-progress-value {
  animation: animate-stripes 5s linear infinite;
  background-color: cornflowerblue;
  background-size:
    35px 20px,
    100% 100%,
    100% 100%;
  border-radius: 3px;
  position: relative;
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

h5[data-value] {
  position: relative;
}

h5[data-value]:after {
  bottom: 9%;
  content: attr(data-value) '%';
  font-size: 0.65em;
  text-transform: capitalize;
  font-weight: lighter;
  position: absolute;
  right: 0;
}

@media (max-width: 992px) {
  .skills-details {
    grid-template-columns: 45% 45%;
    padding: 6% 0;
  }
  .skill-separator {
    padding-bottom: 5%;
    margin-bottom: 10%;
  }
}

@media (max-width: 700px) {
  .skills-details {
    grid-template-columns: 80%;
    padding: 8% 0;
  }
  .skill-separator {
    padding-bottom: 5%;
    margin-bottom: 5%;
  }
}
