footer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: row;
  font-weight: 100;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  justify-content: center;
  min-height: 8em;
  padding: 20px 0 30px 0;
}

#footer > h5 {
  font-size: 0.9em;
  letter-spacing: 0.15em;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.footer-contact > ul {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  padding-left: 0;
  width: 100%;
}

.footer-contact > ul > li {
  list-style: none;
}

.footer-contact > ul > li > a {
  color: var(--color-li-underline);
}

.footer-contact > ul > li > a:hover {
  color: cornflowerblue;
}

#contact {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: none;
  padding: 4vh 5vw;
}

.contact-title {
  display: flex;
  justify-content: center;
}

.contact-title > h1 {
  align-self: center;
  border: 2px solid var(--color-li-underline);
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 6vh;
  padding: 10px 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 15px;
  position: relative;
}

.container:after {
  content: '';
  display: block;
  clear: both;
}

#contact > p {
  color: #ffffff;
  padding-top: 10px;
  text-align: center;
}

@media (min-width: 600px) {
  .contact-form {
    max-width: 1160px;
    margin: 60px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width: 600px) {
  .contact-form-control {
    width: 31.46552%;
  }
}

.contact-form-control {
  position: relative;
  margin-bottom: 20px;
}

.contact-form-control label {
  font-size: 1em;
  color: #ffffffad;
  position: absolute;
  left: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -o-transition: 300ms 100ms;
  transition: 300ms 100ms;
  -webkit-transition: 300ms 100ms;
}

label {
  cursor: default;
}

.contact-form-control textarea {
  height: 150px;
  min-height: 150px;
  padding: 15px;
  resize: vertical;
  overflow: hidden;
}

.contact-form-control input,
.contact-form-control textarea {
  width: 100%;
  height: 55px;
  border: solid 1.5px var(--color-li-underline);
  border-radius: 10px;
  background-color: transparent;
  color: white;
  padding: 0 15px;
  position: relative;
  transition: 300ms 0ms;
}

textarea.form-control {
  padding-top: 10px;
  height: 9em;
}

button,
input {
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  /*  color: -internal-light-dark(black, white); */
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

.contact-form button {
  width: 240px;
  height: 50px;
  background-color: cornflowerblue;
  color: #ffffff;
  border: none;
  font-size: 1.3em;
  border-radius: 30px;
  margin-left: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-transition: 300ms 0ms;
  transition: 300ms 0ms;
  -webkit-transition: 300ms 0ms;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button {
  /* appearance: auto; */
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  /*  color: -internal-light-dark(black, white); */
  letter-spacing: normal;
  word-spacing: normal;
  /* text-transform: none; */
  text-indent: 0px;
  text-shadow: none;
  /* display: inline-block; */
  text-align: center;
  /* align-items: flex-start; */
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  /* margin: 0em;
  font: 400 13.3333px Arial; */
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

@media (min-width: 600px) {
  .contact-form-control.textarea {
    width: 100%;
  }
}
