:root {
  --color-bkg-body: grey;
  --color-white: white;
  --color-effect-github: #695c5a;
  --color-effect-linkedin: #3656e6;
  --color-effect-twitter: #00aced;
  --color-li-underline: #9fb2da;
  --color-nav-scroll: rgba(0, 0, 0, 0.96);
  --font-raleway: 'Raleway', sans-serif;
  --font-default: 'Abel', Helvetica, Arial, Lucida, sans-serif;
  --height-nav: 11vh;
  --height-top-h2-sect: 0vh;
  --header-bkg-img: url(../public/images/portfolio_bkg.png);
  --sect1-bkg-img: url(../public/images/bkg_section_opt1.jpg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: var(--color-white);
  font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
  font-family: var(--font-raleway);
  width: 100%;
}

ol,
ul {
  padding-left: 0px !important;
}

/* --------------- */
/*    M E D I A    */
/* --------------- */

@media (max-width: 855px) {
  /* EXPERIENCE */
  .exp-details,
  .edu-details {
    flex-direction: column-reverse;
    margin: 0;
    margin-top: 20px;
    padding: 20px 10px 30px 10px;
    border-bottom: 1px solid var(--color-li-underline);
  }
  .exp-details:last-of-type,
  .edu-details:last-of-type {
    border-bottom: 0;
  }
  .exp-details-left,
  .edu-details-left {
    margin-top: 20px;
    border: 0;
    max-width: 100%;
  }
  .exp-details-right,
  .edu-details-right {
    padding-left: 0;
  }
}

@media (max-width: 530px) {
  .exp-form,
  .edu-form {
    width: 95%;
  }
  .exp-details-right > h4,
  .edu-details-right > h4 {
    font-size: 1em;
    letter-spacing: 0.035em;
  }
  .exp-details-right > h5,
  .edu-details-right > h5 {
    font-size: 0.7em;
    letter-spacing: 0.035em;
  }
  .exp-details-right > p,
  .edu-details-right > p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  /* Titles */
  .exp-title > h1,
  .edu-title > h1,
  .contact-title > h1 {
    letter-spacing: 0.35em;
  }
  /* CONTACT */
  #contact > p {
    line-height: 1.5em;
    padding-top: 20px;
  }
}
